{
    "site_name":        "CMS",
    "admin_redirect":   "/admin/trees",
    "base_url":         "http://contentmanagementsystem.test/",
    "db_connection":    "mysql",
    "db_host":          "127.0.0.1",
    "db_port":          "3306",
    "db_database":      "",
    "db_username":      "",
    "db_password":      ""
}
