{% extends "layouts/client.html" %}

{% block title %} Homepage {% endblock %}

{% block content %}

    {{ include('client/partials/slideshow.html') }}

    {{ include('client/partials/homepage_list.html', { list: 'drinks', default_title: 'Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet' }) }}

    {{ include('client/partials/homepage_list.html', { list: 'vegetables', default_title: 'Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet' }) }}

    {{ include('client/partials/homepage_list.html', { list: 'trees', default_title: 'Lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet, lorem ipsum dolor sit amet' }) }}

{% endblock %}
