{% extends "layouts/client.html" %}

{% block title %} Drinks {% endblock %}

{% block content %}
    <form action="{{ url('/drinks') }}" method="GET">
        <input type="text" name="search_keyword" value="{{ request('search_keyword') }}" />
        <button type="submit">Search</button>
    </form>

    <div class="row pagination-list">
        {% for drink in drinks %}
            <div class="col-3">
                <div class="pagination-item">
                    <p class="item-title">{{ drink.title }}</p>
                    <a href="{{ url("/drinks/#{drink.slug}") }}" class="view-more-btn">View More</a>
                </div>
            </div>
         {% endfor %}
    </div>

    {{ pagination(drinks, ['search_keyword']) }}
{% endblock %}
