{% extends "layouts/admin.html" %}

{% block title %} Settings {% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">

        <h1 class="page-title">
            <span>Settings</span>
            <a href="{{ url('admin/settings/create') }}" class="new-entry-cta"> + New</a>
        </h1>

        <table class="admin-table">
            <thead>
                <tr>
                    <td>Setting</td>
                    <td>Title</td>
                    <td>Value</td>
                </tr>
            </thead>
            <tbody>
                {% for tree in trees %}
                    <tr>
                        <td>{{ tree.title }}</td>
                        <td>{{ tree.slug }}</td>
                        <td>
                            ///////**/*/
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
