{% extends "layouts/admin.html" %}

{% block title %} Settings {% endblock %}

{% block content %}
    <div class="row">

        <h1 class="page-title">
            <span>Settings</span>
            <a href="{{ url('/admin/settings/create') }}" class="new-entry-cta"> + New</a>
        </h1>

        <form action="{{ url('/admin/settings') }}" method="POST" enctype="multipart/form-data">

            <table class="admin-table settings-table">
                <thead>
                    <tr>
                        <td>Setting</td>
                        <td>Title</td>
                        <td>Value</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody>
                    {% for setting in settings %}
                        <tr class="align-left">
                            <td>{{ setting.display_title }}</td>
                            <td>{{ setting.title }}</td>
                            <td>
                                {% if setting.type == 'text' %}
                                    <input type="text" name="setting[{{ setting.title }}]" value="{{ setting.value }}" />
                                {% elseif setting.type == 'number' %}
                                    <input type="number" name="setting[{{ setting.title }}]" value="{{ setting.value }}" />
                                {% elseif setting.type == 'textarea' %}
                                    <textarea name="setting[{{ setting.title }}]" id="" cols="30" rows="10">{{ setting.value }}</textarea>
                                {% elseif setting.type == 'image' %}
                                    <img src="{{ storage_url(setting.value) }}" alt="" />
                                    <input type="file" name="setting[{{ setting.title }}]" />
                                {% elseif setting.type == 'checkbox' %}
                                    <input type="checkbox" name="setting[{{ setting.title }}]" class="hidden" value="0" checked />
                                    <input type="checkbox" name="setting[{{ setting.title }}]" value="1" {{ setting.value == '1' ? 'checked' : '' }} />
                                {% endif %}
                            </td>
                            <td>
                                {% if setting.is_restricted %}
                                    N/A
                                {% else %}
                                    <a href="{{ url("/edit/#{setting.title}") }}">Change</a>
                                    <a href="{{ url("/destroy/#{setting.title}") }}">Remove</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3">
                            <button class="" type="submit">Update</button>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </form>

    </div>
{% endblock %}
