<div class="footer">
    <div class="row">
        <div class="col-6">
            <ul class="vertical-menu">
                <li>
                    <a href="">Link</a>
                </li>
                <li>
                    <a href="">Link</a>
                </li>
                <li>
                    <a href="">Link</a>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <form class="footer-subscription" action="" method="POST">
                <input type="email" name="subscription_email" />
                <button type="submit">Subscribe</button>
            </form>

            <div class="footer-contact">
                
            </div>
        </div>
    </div>
</div>
