<ul class="horizontal-menu">
    <li class="{{ active_route('/') }}">
        <a href="{{ url('/') }}">Home</a>
    </li>
    <li class="{{ active_route('/about') }}">
        <a href="{{ url('/about') }}">About</a>
    </li>
    <li class="{{ active_route('/fruits') }}">
        <a href="{{ url('/fruits') }}">Fruits</a>
    </li>
    <li class="{{ active_route('/vegetables') }}">
        <a href="{{ url('/vegetables') }}">Vegetables</a>
    </li>
    <li class="{{ active_route('/drinks') }}">
        <a href="{{ url('/drinks') }}">Drinks</a>
    </li>
    <li class="{{ active_route('/trees') }}">
        <a href="{{ url('/trees') }}">Trees</a>
    </li>
    <li class="{{ active_route('/contact') }}">
        <a href="{{ url('/contact') }}">Contact</a>
    </li>
</ul>
