<div class="slideshow">
    <div class="arrow left-arrow">
        <span> < </span>
    </div>
    <div class="arrow right-arrow">
        <span> > </span>
    </div>

    <div class="slideshow-images">

        <div class="slideshow-image active" style="background-image: url('{{ storage_url('/img_1_updated.jpg') }}')"></div>
        <div class="slideshow-image" style="background-image: url('{{ storage_url('/img_1_updated_2.jpg') }}')"></div>
        <div class="slideshow-image" style="background-image: url('{{ storage_url('/img_1_updated.jpg') }}')"></div>
        <div class="slideshow-image" style="background-image: url('{{ storage_url('/img_1_updated_2.jpg') }}')"></div>

    </div>
</div>
