body {
  background-color: #9E9E9E;
}

.nav-bar {
  margin-top: 40px;
  min-height: 40px;
  line-height: 40px;
  background-color: #d8e8d8;
  border-radius: 5px 5px 0 0;
}

.bottom-bar {
  background-color: grey;
  border-radius: 0 0 5px 5px;
  height: 30px;
  margin-bottom: 40px;
}

.main {
  min-height: 700px;
}

.sidebar {
  min-height: 700px;
  height: 100%;
  background-color: #4a4a4e;
}

.sidebar-link {
  height: 25px;
  line-height: 25px;
  border-bottom: 1px solid grey;
  padding-left: 20px;
  width: 100%;
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  &:hover,
  &.active {
    background-color: white;
    color: black;
  }
}

.site-title {
  margin: 0;
  text-align: center;
  font-size: 22px;
  line-height: 40px;
}

.content {
  min-height: 700px;
  height: 100%;
  background-color: #d8e8e8;
}

.page-title {
  padding-left: 20px;
  color: #6b5555;
  margin-bottom: 4px;
  .new-record-anchor {
    color: grey;
    text-decoration: none;
    font-size: 30px;
  }
}

.table-cta {
  padding: 6px;
  background-color: grey;
  text-decoration: none;
  color: white;
  border-radius: 22px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 10px;
}

.admin-table {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  thead {
    text-align: center;
  }
  thead,
  tbody {
    background: white;
    text-align: center;
  }
}

.admin-form {
  width: 90%;
  margin: 0 auto;
  .row {
    margin-bottom: 5px;
  }
}

