body {
    background-color: #d2d2d2;
}

.homepage-list {
    margin: 10px 0;
    background-color: #a2a282;
    height: 150px;
    position: relative;
    .item {
        border: 1px solid #ccc;
        margin: -5px auto;
        background: #bdbda1;
        &-img {
            max-width: 80%;
            max-height: 80px;
            display: block;
            margin: 0 auto;
        }
        &-title {
            margin: 5px 0;
            padding: 0 40px;
        }
    }
    .view-more {
        text-decoration: none;
        padding: 2px 6px;
        background-color: white;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
