{% extends "layouts/admin.html" %}

{% block title %} Create User {% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">

        <h1 class="page-title text-center">
            <span>Create User</span>
        </h1>

        <form class="admin-form" action="{{ base_url }}admin/users" method="POST">

            <div class="row">
                <label class="col-2" for="first_name">
                    First Name
                </label>
                <input type="text" class="form-control col-8" id="first_name" name="first_name" value="" required="" />
            </div>

            <div class="row">
                <label class="col-2" for="last_name">Last Name</label>
                <input type="text" class="form-control col-8" id="last_name" name="last_name" value="" required="" />
            </div>

            <div class="row">
                <label class="col-2" for="email">Email</label>
                <input type="text" class="form-control col-8" id="email" name="email" value="" required="" />
            </div>

            <div class="row">
                <label for="password" class="col-2">Password</label>
                <input type="password" class="form-control col-8" id="password" name="password" value="" required="" />
            </div>

            <div class="row">
                <label for="lang" class="col-2">Lang</label>
                <select name="lang" id="lang">
                    <option value="en" selected>English</option>
                    <option value="ro">Romanian</option>
                </select>
            </div>

            <div class="row">
                <div class="col-2">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Create</button>
                </div>
            </div>

        </form>

    </div>
{% endblock %}
