{% extends "layouts/admin.html" %}

{% block title %} List Users {% endblock %}

{% block content %}

    <h1 class="page-title">
        <span>Users</span>
        <a href="{{ base_url }}admin/users/create" class="new-entry-cta"> + New</a>
    </h1>

    <table class="admin-table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Email</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <a href="{{ base_url }}users/{{ user.id }}" class="table-cta" target="_blank">
                        View
                    </a>
                    <a href="{{ base_url }}admin/users/edit/{{ user.id }}" class="table-cta">
                        Edit
                    </a>
                    <a href="{{ base_url }}admin/users/destroy/{{ user.id }}" class="table-cta">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ pagination(users) }}

{% endblock %}
