<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url('css/admin.css') }}" />
    <script src="{{ url('js/admin.js') }}"></script>
</head>
<body class="admin-page">

    <div class="container">

        <div class="row nav-bar">
            <div class="col-2 align-center">
                <a href="{{ url() }}" target="_blank" class="site-title">
                    {{ site_name }}
                </a>
            </div>
            <div class="col-2 col-offset-8">
                {{ user.first_name }} |

                <a href="{{ url('/signout') }}" class="sign-out-btn">
                    Sign Out
                </a>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row main">
            <div class="col-2 sidebar">
                <a href="{{ url('admin/trees') }}" class="sidebar-link {{ active_route('admin/trees') }}">Trees</a>
                <a href="{{ url('admin/vegetables') }}" class="sidebar-link {{ active_route('admin/vegetables') }}">Vegetables</a>
                <a href="{{ url('admin/drinks') }}" class="sidebar-link {{ active_route('admin/drinks') }}">Drinks (!)</a>
                <a href="{{ url('admin/pages') }}" class="sidebar-link {{ active_route('admin/pages') }}">Pages</a>
                <a href="{{ url('admin/posts') }}" class="sidebar-link {{ active_route('admin/posts') }}">Posts</a>
                <a href="{{ url('admin/files') }}" class="sidebar-link {{ active_route('admin/files') }}">Files (!)</a>
                <a href="{{ url('admin/menus') }}" class="sidebar-link {{ active_route('admin/menus') }}">Menus (!)</a>
                <a href="{{ url('admin/languages') }}" class="sidebar-link {{ active_route('admin/languages') }}">Languages (!)</a>
                <a href="{{ url('admin/settings') }}" class="sidebar-link {{ active_route('admin/settings') }}">Settings (!)</a>
                <a href="{{ url('admin/users') }}" class="sidebar-link {{ active_route('admin/users') }}">Users</a>
                <a href="{{ url('admin/user-roles') }}" class="sidebar-link {{ active_route('admin/user-roles') }}">User Roles (!)</a>
                <a href="{{ url('admin/contact-messages') }}" class="sidebar-link {{ active_route('admin/contact-messages') }}">Contact Messages (!)</a>
                <a href="{{ url('admin/auth-logs') }}" class="sidebar-link {{ active_route('admin/auth-logs') }}">Auth Logs (!)</a>
                <a href="{{ url('admin/email-logs') }}" class="sidebar-link {{ active_route('admin/email-logs') }}">Email Logs (!)</a>
            </div>
            <div class="col-10 content">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <div class="bottom-bar"></div>
    </div>

</body>
</html>
