<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {% endblock %} - {{ setting('site-title') }}</title>
    <link rel="stylesheet" href="{{ url('css/client.css') }}" />
    <script src="{{ url('js/admin.js') }}"></script>
</head>
<body class="client-page">

    <div class="container">

        {{ include('client/partials/header.html') }}

        {% block content %}

        {% endblock %}

        {{ include('client/partials/footer.html') }}

    </div>

</body>
</html>
