{% extends "layouts/auth.html" %}

{% block title %}Signup Page{% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">

        <form class="registration-form" action="{{ signup_url }}" method="POST">

            <h1 class="signin-title align-center">Sign Up</h1>

            <div class="row">
                <label for="first-name" class="col-3">First name</label>
                <input type="text" class="form-control col-9" id="first-name" name="first_name" placeholder="" value="" required="">
            </div>

            <div class="row">
                <label for="last-name" class="col-3">Last name</label>
                <input type="text" class="form-control col-9" id="last-name" name="last_name" placeholder="" value="" required="">
            </div>

            <div class="row">
                <label for="email" class="col-3">Email</label>
                <input type="email" class="form-control col-9" id="email" name="email" placeholder="you@example.com">
            </div>

            <div class="row">
                <label for="password" class="col-3">Password</label>
                <input type="password" class="form-control col-9" id="password" name="password" required="" />
            </div>

            <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>

        </form>

    </div>
{% endblock %}