{% extends "layouts/admin.html" %}

{% block title %} Edit Tree {% endblock %}

{% block content %}
    <div class="col-md-8 offset-md-2">

        <h1 class="page-title align-center">
            <span>Edit Tree</span>
        </h1>

        <form class="admin-form" action="{{ base_url }}admin/trees/{{ tree.id }}" method="POST" enctype="multipart/form-data">

            <input type="hidden" name="tree_id" value="{{ tree.id }}" />

            <div class="row">
                <label class="col-2 col-offset-2" for="title">Title</label>
                <input type="text" class="form-control col-6" id="title" name="title" value="{{ tree.title }}" required="" />
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="slug">Slug</label>
                <input type="text" class="form-control col-6" id="slug" name="slug" value="{{ tree.slug }}" required="" />
            </div>

            <div class="row">
                <label for="image" class="col-2 col-offset-2">Picture</label>
                <div class="col-8">
                    {% if tree.image != '' %}
                    <img class="admin-img" src="{{ storage_url(tree.image) }}" alt="" />
                    {% endif %}

                    <input type="file" name="image" value="{{ tree.image }}" />
                </div>
            </div>

            <div class="row">
                <label for="image" class="col-2 col-offset-2">Has Fruits</label>
                <label>
                    <input type="radio" name="has_fruits" value="1" {{ tree.has_fruits ? 'checked' : '' }} /> Yes
                </label>
                <label>
                    <input type="radio" name="has_fruits" value="0" {{ tree.has_fruits ? '' : 'checked' }}/> No
                </label>
            </div>

            <div class="row">
                <label for="has_flowers" class="col-2 col-offset-2">Has Flowers</label>
                <label>
                    <input type="radio" name="has_flowers" value="1" {{ tree.has_flowers ? 'checked' : '' }} /> Yes
                </label>
                <label>
                    <input type="radio" name="has_flowers" value="0" {{ tree.has_flowers ? '' : 'checked' }} /> No
                </label>
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="introduction">Introduction</label>
                <textarea class="col-6" name="introduction" id="introduction" width="100%" rows="5">{{ tree.introduction }}</textarea>
            </div>

            <div class="row">
                <label for="description" class="col-2 col-offset-2">Description</label>
                <textarea class="col-6" name="description" id="description" width="100%" rows="5">{{ tree.description }}</textarea>
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="fruit_title">Fruit Title</label>
                <input type="text" class="form-control col-6" id="fruit_title" name="fruit_title" value="{{ tree.fruit_title }}" required="" />
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="colour">Colour</label>
                <input type="text" class="form-control col-6" id="colour" name="colour" value="{{ tree.colour }}" required="" />
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="growth_location">Growth Location</label>
                <input type="text" class="form-control col-6" id="growth_location" name="growth_location" value="{{ tree.growth_location }}" required="" />
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="ripe_season">Ripe Season</label>
                <input type="text" class="form-control col-6" id="ripe_season" name="ripe_season" value="{{ tree.ripe_season }}" required="" />
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="average_years">Average Years</label>
                <input type="number" class="form-control col-2" id="average_years" name="average_years" value="{{ tree.average_years }}" required="" />
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="average_height">Average Height</label>
                <input type="number" class="form-control col-2" id="average_height" name="average_height" value="{{ tree.average_height }}" required="" />
            </div>

            <div class="row">
                <label class="col-2 col-offset-2" for="average_width">Average Width</label>
                <input type="number" class="form-control col-2" id="average_width" name="average_width" value="{{ tree.average_width }}" required="" />
            </div>

            <div class="row">
                <div class="col-2 col-offset-2">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                </div>
            </div>

        </form>

    </div>
{% endblock %}
