{% extends "layouts/admin.html" %}

{% block title %} List Trees {% endblock %}

{% block content %}

    <h1 class="page-title">
        <span>Trees</span>
        <a href="{{ url('admin/trees/create') }}" class="new-entry-cta"> + New</a>
    </h1>

    <table class="admin-table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Image</td>
                <td>Title</td>
                <td>Slug</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for tree in trees %}
            <tr>
                <td>{{ tree.id }}</td>
                <td>
                    {% if tree.image != '' %}
                    <img class="admin-img" src="{{ storage_url(tree.image) }}" alt="" />
                    {% endif %}
                </td>
                <td>{{ tree.title }}</td>
                <td>{{ tree.slug }}</td>
                <td>
                    <a href="{{ url(tree.slug) }}" class="table-cta" target="_blank">
                        View
                    </a>
                    <a href="{{ url("admin/trees/edit/#{tree.id}") }}" class="table-cta">
                        Edit
                    </a>
                    <a href="{{ url("admin/trees/destroy/#{tree.id}") }}" class="table-cta">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ pagination(trees) }}

{% endblock %}
